---
layout: default
permalink: /jp/
---

<h6>以下の投稿は、私が英語で書いた内容をChatGPTで翻訳したものです。</h6>

<div class="posts">
  {% for post in site.pages %}
    {% if post.path contains 'jp/' and post.url != '/jp/' %}
      <article class="post">
        <h1>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>

        <div>
          <span class="date">
            {{ post.date | date: "%Y-%m-%d" }}
          </span>
        </div>

        <div class="entry">
          {{ post.excerpt }}
        </div>

        <a href="{{ post.url }}" class="read-more">続きを読む</a>
      </article>
    {% endif %}
  {% endfor %}
</div>

