<!DOCTYPE html>
<html>
  {% include head.html %}
  <body{% if page.wide_layout %} class="wide-layout"{% endif %}>
    <div id="main" role="main" class="container">
      {% if page.wide_layout %}
        <div class="article-content">
          {{ content }}
        </div>
      {% else %}
        {{ content }}
      {% endif %}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}

  </body>
</html>
